
<div class="filter Grass"></div>
<div class="filter Fire"></div>
<div class="filter Uncommon"></div>
<div class="filter Water "></div>
<div class="filter Psychic Rare"></div>


<div class="l-full-width__sidebar pinapple">
    <div class="p-side-navigation is-sticky" id="sideBar" aria-label="Side">
        <span>Filters</span>
        <div id="btnContainer">
            <button class="btn" onclick="filterSelection('all')"> Show all</button>
            <button class="btn" onclick="filterSelection('Grass')">Grass</button>
            <button class="btn" onclick="filterSelection('Fire')">Fire</button>
            <button class="btn" onclick="filterSelection('Psychic Rare')">psyrare</button>
            <button class="btn" onclick="filterSelection('Water')">Water</button>
            <button class="btn" onclick="filterSelection('Uncommon')">Uncommon</button>

        </div>
    </div>
</div>
<script src="/cards.js"></script>