<head>
    <%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/nav') %>

    <div class="row">
        <div class="col-4">
            <div class="p-card">
                <div class="p-card__content u-no-paddin">
                    <img class="p-card__image" alt="" height="185" width="330" src="img/cog.png">
                    <h4>
                        <a href="/settings">Settings</a>
                    </h4>                    
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="p-card">
                <div class="p-card__content u-no-padding">
                    <img class="p-card__image" alt="" height="185" width="330" src="img/cards.png">
                    <h4>
                        <a href="/membercollection">My Collection</a>
                    </h4>                    
                </div>
            </div>
        </div>
    </div>